@model Office_Seat_Booking_Entity.Booking
@*@{
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";

}
*@<body style="background-color:#5A3B5D;color:white;padding-bottom:100px">

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</body>
